In [1]:
import pandas as pd
from pathlib import Path
import csv
import requests
import json

In [2]:
movie_file_cast= Path("/Users/sandysamy/Desktop/Projects/Project-1/Sandy_Analysis/tmdb_5000_credits.csv")

movie_df_cast= pd.read_csv(movie_file_cast)

movie_df_cast.head()

,movie_id,title,cast,crew
0,19995,Avatar,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,"[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,The Dark Knight Rises,"[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,John Carter,"[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

In [58]:
movie_df[["Movie Rated","Language","Awards","Rotten Tomatoes Rating","IMDb Rating","Metascore","IMDb ID","Box Office"]] = ""

movie_df.head()

,Movie_Title,Year,Director,Actors,Rating,Runtime(Mins),Censor,Total_Gross,main_genre,side_genre,Movie Rated,Language,Awards,Rotten Tomatoes Rating,IMDb Rating,Metascore,IMDb ID,Box Office
0,Kantara,2022,Rishab Shetty,"Rishab Shetty, Sapthami Gowda, Kishore Kumar G...",9.3,148,UA,Gross Unkown,Action,"Adventure, Drama",,,,,,,,
1,The Dark Knight,2008,Christopher Nolan,"Christian Bale, Heath Ledger, Aaron Eckhart, M...",9.0,152,UA,$534.86M,Action,"Crime, Drama",,,,,,,,
2,The Lord of the Rings: The Return of the King,2003,Peter Jackson,"Elijah Wood, Viggo Mortensen, Ian McKellen, Or...",9.0,201,U,$377.85M,Action,"Adventure, Drama",,,,,,,,
3,Inception,2010,Christopher Nolan,"Leonardo DiCaprio, Joseph Gordon-Levitt, Ellio...",8.8,148,UA,$292.58M,Action,"Adventure, Sci-Fi",,,,,,,,
4,The Lord of the Rings: The Two Towers,2002,Peter Jackson,"Elijah Wood, Ian McKellen, Viggo Mortensen, Or...",8.8,179,UA,$342.55M,Action,"Adventure, Drama",,,,,,,,

In [67]:
apiKey = "5f8350bc"



for index, row in movie_df.iterrows():

    movie = row['Movie_Title']

    base_url = "http://www.omdbapi.com/"
    url = f"{base_url}?t={movie}&apiKey={apiKey}"

    movie_response = requests.get(url)

    movie_json = movie_response.json()

    
    try:
        movie_rated = movie_json["Rated"]
        movie_df.loc[index, "Movie Rated"] = movie_rated
    except KeyError:
        movie_df.loc[index, "Movie Rated"] = "Rating not found"

    try:
        language = movie_json["Language"]
        movie_df.loc[index, "Language"] = language
    except KeyError:
        movie_df.loc[index, "Language"] = "Language not found"

    try:
        awards = movie_json["Awards"]
        movie_df.loc[index, "Awards"] = awards
    except KeyError:
        movie_df.loc[index, "Awards"] = "Awards not found"

    try:
        metascore = movie_json["Metascore"]
        movie_df.loc[index, "Metascore"] = metascore
    except (KeyError, IndexError):
        movie_df.loc[index, "Metascore"] = "Score not found"
    
    try:
        rotten_tomato = movie_json["Ratings"][1]["Value"]
        movie_df.loc[index, "Rotten Tomatoes Rating"] = rotten_tomato
    except (KeyError, IndexError):
        movie_df.loc[index, "Rotten Tomatoes Rating"] = "Rating not found"

    try:
        id = movie_json["imdbID"]
        movie_df.loc[index, "imdbID"] = id
    except KeyError:
        movie_df.loc[index, "imdbID"] = "imdbID not found"

    try:
        imdb_rating = movie_json["imdbRating"]
        movie_df.loc[index, "IMDb Rating"] = imdb_rating
    except KeyError:
        movie_df.loc[index, "IMDb Rating"] = "Rating not found"

    try:
        box_office = movie_json["BoxOffice"]
        movie_df.loc[index, "Box Office"] = box_office
    except KeyError:
        movie_df.loc[index, "Box Office"] = "Box Office not found"

    

movie_df.head()

,Movie_Title,Year,Director,Actors,Rating,Runtime(Mins),Censor,Total_Gross,main_genre,side_genre,Movie Rated,Language,Awards,Rotten Tomatoes Rating,IMDb Rating,Metascore,IMDb ID,Box Office,Rotten Tomatoes,imdbID
0,Kantara,2022,Rishab Shetty,"Rishab Shetty, Sapthami Gowda, Kishore Kumar G...",9.3,148,UA,Gross Unkown,Action,"Adventure, Drama",Not Rated,Kannada,12 wins & 8 nominations,80%,8.2,N/A,,N/A,Rating not found,tt15327088
1,The Dark Knight,2008,Christopher Nolan,"Christian Bale, Heath Ledger, Aaron Eckhart, M...",9.0,152,UA,$534.86M,Action,"Crime, Drama",PG-13,"English, Mandarin",Won 2 Oscars. 163 wins & 164 nominations total,94%,9.0,84,,"$534,987,076",Rating not found,tt0468569
2,The Lord of the Rings: The Return of the King,2003,Peter Jackson,"Elijah Wood, Viggo Mortensen, Ian McKellen, Or...",9.0,201,U,$377.85M,Action,"Adventure, Drama",PG-13,"English, Quenya, Old English, Sindarin",Won 11 Oscars. 215 wins & 124 nominations total,94%,9.0,94,,"$379,427,292",Rating not found,tt0167260
3,Inception,2010,Christopher Nolan,"Leonardo DiCaprio, Joseph Gordon-Levitt, Ellio...",8.8,148,UA,$292.58M,Action,"Adventure, Sci-Fi",PG-13,"English, Japanese, French",Won 4 Oscars. 159 wins & 220 nominations total,87%,8.8,74,,"$292,587,330",Rating not found,tt1375666
4,The Lord of the Rings: The Two Towers,2002,Peter Jackson,"Elijah Wood, Ian McKellen, Viggo Mortensen, Or...",8.8,179,UA,$342.55M,Action,"Adventure, Drama",PG-13,"English, Sindarin, Old English",Won 2 Oscars. 132 wins & 138 nominations total,95%,8.8,87,,"$342,952,511",Rating not found,tt0167261

In [68]:
movie_df.to_csv('Movie_RawDataset.csv', index=False)